/*fais par alexia */
/*nommer les variables utiliser*/
/*style css pour la page d'accueil*/
:root {
    --beige:#EAE1CE;;
    --vertPale: #CEE0BC;
    --vert: #92A661;
    --vertFonce: #3E6329;
    --brun: #AF7B2F;
    --league: 'League Gothic', sans-serif;
}

/*------------------------haut de la page en mobile------------------------------------*/
#texteBienvenue{
 color:#000;
 text-align: justify;
 font-family: "League Gothic";
 font-size: 1.5rem;
 font-style: normal;
 font-weight: 400;
 margin: 10px;
 line-height: normal;
 letter-spacing: 0.1rem;
}

/*-------------------media queries format destktop--------------------------------------*/

@media(min-width: 800px){
    .bienvenue{
        width:80%;
        display:flex;
        flex-direction: column;
    }

    .commanders{
        width:50%;
        display:flex;
        flex-direction: column;
    }

    .topCommanders h2 {
        color:#fff;
        letter-spacing: 0.1em;
    }

    .topCard h2 {
        color:#fff;
        letter-spacing: 0.1em;
    }
} 

/*--------------------------------------------------style par default ideal pour mobile------------------------------------*/
.haut{
    display:flex;
    flex-direction:column; /*mobile*/
}

.commanders{
    margin-right: 10px;
}

.carte {
    width: 100%;
    display:flex;
    justify-content: center;
}

.options {
    max-height: 200px;
    max-width: 50%;
}

.button {
    border-radius: 100%;
    max-width:70px;
    min-width:40px;
    min-height:40px;
    aspect-ratio:1/1;
    padding:10px;
    margin: 10px;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button img{
    width:35px;
    height: 35px;
}

/*------------style bouton ou jetons a cote carte--------------------------*/
/*style unique a partir id unique pcq couleurs differentes*/
#archideckt {
    background-color:#FF7357;
}

#moxfield {
    background-color:#A07BFF;
}

#scryfall{
    background-color:#60516F;
}

/*-----------------------fin de style pour partie haut de la page----------------------------------------*/



@media (min-width:800px){
    .enVedette {
    display:flex;
    flex-direction: column;
    align-items: flex-end;
}
    .commanders{
    margin-right: 10px;
    display:flex;
    flex-direction:column;
    align-items: flex-end;
    }


}

/*style les boites contenant cartes populaires et nouvelles*/


.container {
    background-color: var(--vert);
    border-radius:30px;
    width:100%;
    color: var(--vertFonce);
    text-transform: uppercase;
    padding:10px;
    margin: 20px 10px 20px 10px;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
}

.topCommanders{
    margin: 20px;
    flex-shrink: 0;
}

.topCard{
    margin: 20px;
    flex-shrink: 0;
}


/*stylise les enumeration partie 2 dans le milieu de la page*/
 .cards a{
    text-transform: capitalize;
    color: #fff;
    font-size: clamp(0.5rem, 1.8rem, 1.8rem);
    margin:10px;
    text-decoration: none;
    display:flex;
    justify-content:flex-start;
    
 }
 /*quand media desktop*/
 @media(min-width: 800px){

    main {
    margin-left: 20px;
    }

    .haut{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container{
        background-image: radial-gradient(var(--vert), var(--vertFonce));
        border-radius:30px;
        width:fit-content; /*pour etre fit a son contenu*/
        color: #fff;
        text-transform: uppercase;
        padding:10px;
        margin: 20px 10px 20px 10px;
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center; 
    }

    .bas {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .enVedette {
        width: 50%;
    }

    .nouvelles{
        width: 50%;
    }

    .article p{
        color:#fff;
        text-align: justify;
        font-family: "League Gothic";
        font-size: clamp(0.5rem, 1.5rem, 1.5rem);
        font-style: normal; 
        text-transform: none;
 } 
}

/*version mobile*/
@media(max-width: 400px){
.container{
        width:100%; /*pour etre cit a son contenu*/
    }

}

/*------------------nouvelles--------------------------------------*/

.container.article{
    background-color: var(--vert);
}

h3{
    font-size: clamp(0.5rem, 1.8rem, 1.8rem);
}

.article img {
    max-width: 600px;
    width:100%;
    aspect-ratio: 6/4;
    border-radius:30px;
    display:block;
}


.article p{
 color:var(--vertFonce);
 text-align: justify;
 font-family: "League Gothic";
 font-size: clamp(0.5rem, 1.5rem, 1.5rem);
 font-style: normal; 
 text-transform: none;
}
/*--------------------------------------------------------------------*/
footer {
    background-color: var(--vertFonce);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: relative;
}

.droits {
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin:20px;
    font-size: 1.2rem;
}

/*quand ecran en bas de 800px cache elements qui classe hide onmobile*/
@media(max-width: 800px){
    .hideOnMobile{
        display:none;
    }

    #none{
        background: none; /*faire disparaitre background sur mobile*/
    }
}

/*quand ecran en bas de 400px donc mobile sidebar apparait sur entierete page*/
@media(max-width:400px){
    .sidebar{
        width:100%;
        box-sizing: border-box;
    }
}