
:root {
    --beige:#EAE1CE;;
    --vertPale: #CEE0BC;
    --vert: #92A661;
    --vertFonce: #3E6329;
    --brun: #AF7B2F;
    --league: 'League Gothic', sans-serif;

}

/*mots de bienvenue*/
.bienvenue{
    color: #000;
    font-family: "League Gothic";
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 4.32px;
}

.message{
 color:var(--vertFonce);
 text-align: justify;
 font-family: "League Gothic";
 font-size: 48px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 letter-spacing: 2.88px;
}

.center{
    display: block;
    border-radius: 50px;
    background-image: radial-gradient(var(--vertFonce), var(--vert));
}