/*variables couleurs*/
:root {
    --beige:#EAE1CE;;
    --vertPale: #CEE0BC;
    --vert: #92A661;
    --vertFonce: #3E6329;
    --brun: #AF7B2F;
    --league: 'League Gothic', sans-serif;

}


/* body mise en page generale*/
* {
    box-sizing: border-box;
    font-family: var(--league, sans-serif);
}


body {
    min-width:100vw;
    min-height:100vh;
    /*changement background color mobile pour permettre degrader retrouver dans desktop*/
    background-image: linear-gradient(var(--beige), var(--brun));
    background-repeat: no-repeat;
    background-position: center;
    /*padding:15px, 10px; A VOIR */
}

.mainLogo {
    display:flex;
    align-items: center;
    object-fit: cover;
    max-height:50px;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 300;
    font-size:2em;
}

 
.navbar {
    background-color: var(--vertFonce);
    border-radius:60px;
    width:95%;
    height:50px;
    min-height:50px;
    padding :10px;
    display:flex;

 }

.navbar a{
    background: var(--vertPale);
    padding: 5px;
    border-radius:60px;

 }

h2 {
    text-transform: uppercase;
    font-size: 2em;
    color:var(--vertFonce);
    margin:10px;
 }

 .contenu {
    display: flex;
    justify-content: center;
    align-content: center;
 }

 li {
    text-transform: capitalize;
    color: #fff;
    font-size: 1.2rem;
    margin:10px;
    text-decoration: none;
 }

 .comJour {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
 }

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    

}
 
.button img {
    width:2em;
    height:2em;
}

 #archideckt {
    background-color: #FF7357;
    border-radius: 100%;
    max-width:80px;
    width:45px;
    height: 45px;
    padding:10px;
    margin: 10px;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

#moxfield {
    background-color:#A07BFF;
    border-radius: 100%;
    max-width:80px;
    width:45px;
    height: 45px;
    padding:10px;
    margin: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#scryfall{
    background-color:#60516F;
    border-radius: 100%;
    max-width:80px;
    width:45px;
    height: 45px;
    padding:10px;
    margin: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
}


/*background va etre centrer au centre de la page pour aligner le contenu et bonifier experience utilisateur*/
.container{
    background-color: var(--vert);
    border-radius:60px;
    width:100%;
    color: var(--vertFonce);
    text-transform: uppercase;
    padding:10px;
    margin:10px;
    display:inline-flex;
    justify-content:space-evenly;
    align-items: center;
}
