
:root {
    --beige: rgba(234, 225, 206, 1);
    --vert: rgba(146, 166, 97, 1);
    --vertFonce: rgba(62, 99, 41, 1);
    --brun: rgba(175, 123, 47, 1);
    --league: 'League Gothic', sans-serif;

}
/*generaux*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--league, sans-serif);
}
@media(max-width: 800px){
    .hideOnMobile{
        display:none;
    }
}

@media(max-width:400px){
    .sidebar{
        width:100%;
        box-sizing: border-box;
    }
}
body {
    color: #333;
    background-color: var(--vert);
    display: flex;
    flex-direction: column;
   
}
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 250px;
    z-index:999;
    background-color: rgba(2, 88, 21, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width:100%;
}

.sidebar a{
    width: 100%;
}
a:hover {
    text-decoration: underline;
}

img {
    width: 100%;
    height: auto;
}
li > img{
    width: 20%;
    height: auto;
}
nav{
    background-color: var(--vertFonce);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}

/*barre nav en haut*/
nav ul{
    width: 100%;
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

nav li {
    height:50px;
}

nav a{
    height: 100%;
    padding :0 20px;
    margin: 0 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:#ffffff;
    text-transform: uppercase;
    font-size:1.2em;
}

nav a:hover{
    background-color: var(--vertPale);
    color:var(--vertFonce);
}

nav li:first-child{
    margin-right: auto;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.article{
    border-radius: 50px;
    margin: 20px;
}
.carte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.nav.commandant{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.icone{
    margin: 20px
}
.populaire.commanders{
    background-color: var(--beige);
    width: 20%;
    height: 30%;;
    margin: 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: end;
}
.tableau{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--vertFonce);
    border-radius: 50px;
    padding: 5%;
    margin-left: 5%;
    margin-bottom: 5%;
    width: 90%;
}
.carte.commandant{
    width: 20%;
    height: auto;
    margin: 5%;
}
footer {
    background-color: var(--vertFonce);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: relative;
}
/*section hero*/
