/*variables couleurs*/
:root {
    --beige:#EAE1CE;;
    --vertPale: #CEE0BC;
    --vert: #92A661;
    --vertFonce: #3E6329;
    --brun: #AF7B2F;
    

}

/*barre navigation*/

 nav{
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 a{
    display:block;
    border-radius: 50px;
    background: var(--vertPale);
    padding: 15px;
    
 }

/*footer*/
footer{
    width: 100%;
}

/* body mise en page generale*/
* {
    margin: 0;
    /*padding: 0;
    box-sizing: border-box;* AVOIR SI GARDER OU PAS*/
    font-family: var(--league, sans-serif);
}
button.icon{
    background-image: url(iconVert.svg);
}
.face{
    background-image: url(iconface.svg);
}
.insta{
    background-image: url(iconInsta.svg);

}
.red{
    background-image: url(iconRed.svg);
}
button{
    fill: var(--vert);
    box-shadow: -4px -4px 8px 0px rgba(65, 93, 43, 0.54) inset;
    filter: drop-shadow(4px 4px 8px rgba(65, 93, 43, 0.90));
    border-radius: 62%;
}

body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    color: #333;
    background-color: var(--beige);
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 100%;
    height: auto;
}
footer{
    width: 100%;
    
}
.navbar {
   background-color: var(--vertFonce);
   border-radius: 9999px;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 0.5vh;
    margin-bottom: 0.5vh;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 50px;
    background-position: center;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}
h2{
    font-size: 1rem;
    height: 5%;
}


 #archideckt {
    background-color: #FF7357;
    border-radius: 100%;
    max-width:80px;
    width:45px;
    height: 45px;
    padding:10px;
    margin: 10px;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

#moxfield {
    background-color:#A07BFF;
    border-radius: 100%;
    max-width:80px;
    width:45px;
    height: 45px;
    padding:10px;
    margin: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

#scryfall{
    background-color:#60516F;
    border-radius: 100%;
    max-width:80px;
    width:45px;
    height: 45px;
    padding:10px;
    margin: 10px;  
    display: flex;
    justify-content: center;
    align-items: center;
}

/*section hero*/

/*mettre texte alternatif, id change to class, evite balise button, juste mettre hover sur qu'ext-ce qui est accessible*/



