/*fais par alexia */
:root {
    --beige:#EAE1CE;;
    --vertPale: #CEE0BC;
    --vert: #92A661;
    --vertFonce: #3E6329;
    --brun: #AF7B2F;
    --league: 'League Gothic', sans-serif;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red; /*temporaire*/
}

html {
    min-width: 100vw;
    min-height: 100vh;

}

body{
    
    max-width:100vw;
    min-height:100vh;
    /*changement background color du desktop et mobile pour gradient linear dans le deux modeles*/
    background-image: linear-gradient(var(--beige), var(--brun));
    background-repeat: no-repeat;
    background-position: center;
    font-family: var(--league, sans-serif);
    /*push le footer en bas*/
    display:flex;
    flex-direction: column;
    overflow-x: hidden; /*empeche de scroll sur le x*/
    
}

main{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left:20px;
    margin-right:20px; /*permet de garder des marge de la page web*/
}

nav{
    background-color: var(--vertFonce);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
}

/*barre nav en haut*/
nav ul{
    width: 100%;
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
   
}

nav li {
    height:50px;
}

nav a{
    height: 100%;
    padding :0 15px;
    margin: 0 5px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color:#ffffff;
    text-transform: uppercase;
    font-size:1.3rem;
}

nav a:hover{
    background-color: var(--vertPale);
    color:var(--vertFonce);
}

nav li:first-child{
    margin-right: auto;
}

/*barre nav deroulant*/
.sidebar{
    position: fixed;
    top:0;
    right:0;
    height: 100vh;
    width: 500px;
    z-index:999;
    background-color: rgba(2, 88, 21, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1) ;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width:100%;
}

.sidebar a{
    width: 100%;
}

/*------------------navigation et body------------------------------------*/

/*titres de la page en vert*/
h2 {
    text-transform: uppercase;
    font-size: 2.5rem;
    color:var(--vertFonce);
    margin:10px;
 }


.logo {
    color:#ffffff;
    font-size: 3rem;
    text-transform: uppercase;
    display:flex;
    align-items: center;
    max-height:50px;
    width: 100%;
    height: 100%;
    font-weight: 300;
}
 /*---------------------------------------------------------------*/

/*------------------------haut de la page en mobile--------------*/
#texteBienvenue{
 color:#000;
 text-align: justify;
 font-family: "League Gothic";
 font-size: 1.5rem;
 font-style: normal;
 font-weight: 400;
 margin: 10px;
 line-height: normal;
 letter-spacing: 0.1rem;
}

@media(min-width: 800px){

    .bienvenue{
        width:80%;
        display:flex;
        flex-direction: column;
    }

    .commanders{
        width:50%;
        display:flex;
        flex-direction: column;
    }
} 


.haut{
    display:flex;
    flex-direction:column; /*mobile*/
}

.commanders{
    margin-right: 10px;
}

.carte {
    width: 100%;
    display:flex;
    justify-content: center;
    flex-grow: 2;
}

.options {
    max-height: 200px;
    max-width: 50%;
}

.button {
    border-radius: 100%;
    max-width:70px;
    min-width:40px;
    min-height:40px;
    aspect-ratio:1/1;
    padding:10px;
    margin: 10px;  
    display: flex;
    justify-content: center;
    align-items: center; 
}

.button img{
    width:35px;
    height: 35px;
}

#archideckt {
    background-color: #FF7357;
}

#moxfield {
    background-color:#A07BFF;
}

#scryfall{
    background-color:#60516F;
}

/*---------------------------------------------------------------*/


/*style les boites contenant cartes populaires et nouvelles*/
.container {
    background-color: var(--vert);
    border-radius:30px;
    width:fit-content;
    color: var(--vertFonce);
    text-transform: uppercase;
    padding:10px;
    margin: 20px 10px 20px 10px;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
}

.topCommanders{
    margin: 20px;
}

.topCard{
    margin: 20px;
}


/*stylise les enumeration partie 2 dans le milieu de la page*/
 .cards a{
    text-transform: capitalize;
    color: #fff;
    font-size: 1.8rem;
    margin:10px;
    text-decoration: none;
 }

 @media(min-width: 800px){

 main {
    margin-left: 20px;
 }

    .haut{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container{
        background-image: radial-gradient(var(--vert), var(--vertFonce));
        border-radius:30px;
        width:fit-content;
        color: #fff;
        text-transform: uppercase;
        padding:10px;
        margin: 20px 10px 20px 10px;
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center; 
    }

    .bas {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .enVedette {
        width: 50%;
    }

    .nouvelles{
        width: 50%;
    }


 }


/*------------------nouvelles--------------------------------------*/

.article img {
    max-width: 600px;
    width:100%;
    aspect-ratio: 6/4;
    border-radius:30px;
    display:block;

}

/*--------------------------------------------------------------------*/
footer {
    background-color: var(--vertFonce);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    height: 100%;
    position: relative;
}

.droits {
    display:flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    margin:20px;
    font-size: 1.2rem;
}

/*quand ecran en bas de 800px cache elements qui classe hide onmobile*/
@media(max-width: 800px){
    .hideOnMobile{
        display:none;
    }

    #none{
        background: none; /*faire disparaitre background sur mobile*/
    }
}

/*quand ecran en bas de 400px donc mobile sidebar apparait sur entierete page*/
@media(max-width:400px){
    .sidebar{
        width:100%;
        box-sizing: border-box;
    }
}